$placeholder-color: #c1e2df;
.apply {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  background-color: $tertiary-color;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3rem;
      font-weight: bolder;
      color: $secondary-color;
    }
  }
  .form {
    font-family: "Raleway", sans-serif;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      margin-top: 1.5rem;
      width: 70%;
      padding: 0 2rem 0 2rem;
      border-radius: 2rem;
      height: 3.5rem;
      font-size: 1.6rem;
      background-color: $secondary-color;
      color: $tertiary-color;
      outline: none;
    }
    button {
      margin-top: 15%;
      width: 50%;
      border-radius: 2rem;
      border: none;
      font-weight: bolder;
      height: 3.5rem;
      font-size: 1.6rem;
      background-color: $primary-color;
      color: $tertiary-color;
      outline: none;
    }

    *:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    input::placeholder {
      color: $placeholder-color;
      text-align: center;
    }
    .select {
      margin-top: 1.5rem;
      label {
        margin: 0;
      }
      position: relative;
      width: 70%;
    }

    .select:after {
      content: "\25be";
      font: normal normal normal 2rem/1 FontAwesome;
      color: $tertiary-color;
      right: 4%;
      padding: 5.5% 0px 0px 0;
      position: absolute;
      pointer-events: none;
    }

    select::-ms-expand {
      display: none;
    }

    // .select select {
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    //   /* Add some styling */

    //   display: block;
    //   width: 100%;
    //   max-width: 320px;
    //   height: 50px;
    //   float: right;
    //   margin: 5px 0px;
    //   padding: 0px 24px;
    //   font-size: 16px;
    //   line-height: 1.75;
    //   color: #333;
    //   background-color: #ffffff;
    //   background-image: none;
    //   border: 1px solid #0ebeff;
    //   -ms-word-break: normal;
    //   word-break: normal;
    // }

    .selected {
      color: $tertiary-color;
    }

    select {
      width: 100%;
      padding: 0 2rem 0 2rem;
      border-radius: 2rem;
      height: 3.5rem;
      font-size: 1.6rem;
      color: $placeholder-color;
      background-color: $secondary-color;
    }
  }
}
