.leaderboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  background-color: $tertiary-color;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3rem;
      font-weight: bolder;
      color: $primary-color;
    }
  }

  @media (max-width: 768px) {
    .chart {
      width: 80%;
    }
  }
  @media (min-width: 769px) {
    .chart {
      width: 50%;
    }
  }

  .list {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: bolder;
    font-size: 2rem;
    color: $primary-color;
    span {
      margin-left: 1rem;
      color: $tertiary-color;
    }
  }
  .bottom-waves {
    margin-top: auto;
    width: 100%;
  }
}
