html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $tertiary-color;
  font-family: "Poppins", sans-serif;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  .front-container {
    height: 100%;
    width: 100%;
    display: flex;
  }
}

@media (min-width: 769px) {
  #root {
    display: flex;
    justify-content: center;
    background-color: $tertiary-color;
  }
  .front-container {
    height: 100%;
    width: 40%;
    display: flex;
  }
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .pagination-additional-class > li:not(:last-of-type) > a,
  .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 5px;
  }
}
