.total {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  background-size: cover;
  background-image: url("../images/total-background.svg");
  .brand {
    width: 50%;
  }
  .title {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .first-word {
      margin: 0;
      font-size: 3rem;
      font-weight: normal;

      color: $secondary-color;
    }
    .second-word {
      letter-spacing: 0.3rem;
      font-size: 3rem;
      font-weight: bolder;
      color: $tertiary-color;
    }
  }
  .lines {
    width: 100%;
  }

  .total-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 7rem;
      color: $tertiary-color;
      font-weight: bolder;
    }
    h2 {
      font-size: 1.2rem;
      color: $tertiary-color;
      font-weight: bolder;
    }
  }

  @media (max-width: 768px) {
    .bunny {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  @media (min-width: 769px) {
    .bunny {
      bottom: 0;
      position: absolute;
      width: 45%;
    }
  }
}
