.container,
.container-fluid {
  margin-top: 72px;
}

.navbar {
  .logo {
    width: 120px;
  }
}

#root {
  overflow: auto;
}

body {
  height: 100%;
  background-color: theme-color("background");
  font-family: "Poppins", sans-serif;
}

//#root {
//  height: 100%;
//}
